body{background-color:#2B2B2B;
overflow-x: hidden;}

.logo{ 
	color: #A88E45;
	font-family: 'Helvetica Neue', bold;
	font-size: 70px;
	margin: 18px;
}

h2{
	font-family: 'Helvetica Neue', bold;
	font-size: 19px;
	text-transform: uppercase;
	color: white;
	margin: 23px;
	letter-spacing: 2px;
}

h3{
	font-family: 'Helvetica Neue', bold;
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	margin: 25px;
	letter-spacing: 2px;
}

img{ 
	width: 100px ;
	height: 130px;
	border-style: solid;
	border-color: #A88E45;
	border-width: 0.25px;
}


input {
	border: solid #A88E45 1.5px;
	height: 25px;
	width: 150px;
	border-radius: 25px;
	opacity: 0.2;
	position: relative;
	margin-left: 180px;
	top: 55px;
} 

.search-btn {
	color: #A88E45;
	position: absolute;
	top: 70px;
	left: 168px;
}

.notefications {
	color: #A88E45;
	position: absolute;
	top: 70px;
	left: 142px;
}

.bestpicture {
margin: 15px;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
 /* grid-gap: 1em;*/
  overflow-y: scroll;
}

.bestpicture > * {
  grid-column: 2 /2;
}


.hs {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, calc(50% - 40px));
  grid-template-rows: minmax(150px, 1fr);
  overflow-x: scroll;

}

.hide-scroll {
  overflow-y: hidden;
  }

.drop {
	margin-top: 100px;
}


@media screen and (max-width:375px){
	.main-container {
		width:100%;
	}


}


#spinner {
	
  position:fixed;
 /*width:0px;*/
  text-align: left;
  left:10px;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite ;
  animation-duration: 3s;
}
@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}
@keyframes depth {
  0% { text-shadow: 0 0 black; }
  25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
  50% { text-shadow: 0 0 black; }
  75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
  100% { text-shadow: 0 0 black; }
}

