





.section {
font-family:font-family: 'Source Sans Pro', sans-serif;;
width:25%;
margin:4% 2%;
display: inline-block;
vertical-align: top;
}

.section h1{
font-size:0.9em;
}

.section hr {
	width:100%;
	border-top:0.05em solid #231F20;
}

.section p {
font-size:0.85em;
line-height: 1.2em;
}

.section a {
	color:#231F20;
}